<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>545820122926-fqsepqe5pdcvu2bbb12qvnvhucsfcm4n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.545820122926-fqsepqe5pdcvu2bbb12qvnvhucsfcm4n</string>
	<key>API_KEY</key>
	<string>AIzaSyBjpqD-FhDFhW9PS-ueaRLhO3uMr48sRo4</string>
	<key>GCM_SENDER_ID</key>
	<string>545820122926</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Mitchel.GroceryMarket</string>
	<key>PROJECT_ID</key>
	<string>grocerymarket-75e60</string>
	<key>STORAGE_BUCKET</key>
	<string>grocerymarket-75e60.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:545820122926:ios:eb6c1bb1f3fe0b20b3a4bf</string>
</dict>
</plist>